nav {
    display: flex;
    justify-content: space-between;
    padding: initial;
    background-color:aquamarine;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    letter-spacing: normal;
}

a.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: normal;
    margin-left:auto;
}

.navbar-text a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: normal;
}

.nav-links{
    display: flex;
    justify-content: center;
    width: 50%;
    list-style: none;
    word-spacing: normal;
    vertical-align: baseline;
}
